<html ng-app="createEvent">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/test1/styles/create_events.css">
</head>
<body>
	
  	</br>
  	<div class="container" ng-controller="CreateEventCtrl">
  		<div class="form-group row">
  			<select class="custom-select w-25" id="listTypeEvent" ng-model="typeEvent">
    			<option value="1">Задача</option>
    			<option value="2">Напоминание</option>
  			</select>
  		</div>
  		<div>
 			<div class="form-group row">
 				<input type="text" ng-model="nameTask" class="form-control" id="nameTask" placeholder="Название задачи ..." />
 			</div>
 			<div class="form-group row">
 				<textarea class="form-control" ng-model="descriptionTask" id="descriptionTask" rows="3" placeholder="Описание задачи ..."></textarea>
 			</div>
 			<div class="form-group row">
 				<input type="date" class="form-control" ng-model="dueDateTask" id="dueDateTask" />
 			</div>
 			<div class="form-group row" >
 				<button type="submit" class="btn btn-primary" ng-click="createEvent()">Создать</button>
 			</div>
  		</div>
  	</div>
</body>
<script src="/test1/scripts/create_events.js"></script>
</html>